* {
    font-family: 'Montserrat', sans-serif;
}

nav .brand-logo {
    font-size: 1.5rem !important;
}

ul.right {
    font-weight: 600;
    letter-spacing: 1px;
}

.row {
    padding-top:30px;
}




.image{
    padding: 1.5rem 1.5rem 0 1.5rem !important;
}

.home p {
    font-weight: 900;
    letter-spacing: 2px;
}
.home .name {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 100px;
}
.home .designation {
    font-size: 1.05rem;
    margin-bottom: 3.5rem;
}


.btn-large {
    background-color: #1565c0 !important;
    letter-spacing: 2px !important;
}
/* Media Queries */
@media only screen and (max-width:600px) {
    .home .name {
        margin:0;
    }
    
}
/* About me */
.about h2 {
    letter-spacing: 2px;
    margin-top: 3rem;
}
.p1, .p2, .p3 {
    font-size: 1.3rem;
}
/* Pic */
.pic {
    margin-top: 2.3rem;
}

/* Skill-bar */
.skillbar {
    position:relative;
    display:block;
    margin-bottom:3rem;
    width:100%;
    background:#eee;
    height:5px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    font-weight:bold;
    font-size:13px;
    color:#fff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:5px;
    width:100%;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    float: left;
}

.skill-bar-percent {
    position:absolute;
    top:10px;
    font-size:11px;
    font-weight: 500;
    height:35px;
    line-height:35px;
    color:#444;
    color:rgba(0, 0, 0, 0.4);
}



#skills h4{
    margin-bottom: 3rem;
}

#work {
    padding-top: 50px;
}
/* Map */
/* #map {
    
    height: 270px;
   
} */