* {
    font-family: 'Montserrat', sans-serif;
}

nav .brand-logo {
    font-size: 1.5rem !important;
}

ul.right {
    font-weight: 600;
    letter-spacing: 1px;
}

.row {
    padding-top:30px;
}




.image{
    padding: 1.5rem 1.5rem 0 1.5rem !important;
}

.home p {
    font-weight: 900;
    letter-spacing: 2px;
}
.home .name {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 100px;
}
.home .designation {
    font-size: 1.05rem;
    margin-bottom: 3.5rem;
}

.btn-large {
    background-color: #1565c0 !important;
    letter-spacing: 2px !important;
}
/* Media Queries */
@media only screen and (max-width:600px) {
    .home .name {
        margin:0;
    }
    
}
/* About me */
.about h2 {
    letter-spacing: 2px;
}
.p1, .p2 {
    font-size: 1.3rem;
}
/* Pic */
.pic {
    margin-top: 2.3rem;
}






